/* google fonts - work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #A53DFF;
    --secondary-color: #132238;
  }

body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
   
}

* {
    text-decoration: none;
    list-style: none;
    outline: none;
}

/* common css  */
.btn-primary {
    background-color: var(--main-color);
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: var(--main-color);
    opacity: .85;
    color: white;
}

.btn-outline {
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 12px 24px; 
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-outline i.icon {
    font-size: 20px;
}


/* navigation bar / Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DBDBDB;
    padding: 10px 8rem;
}

.header .logo-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .logo-box .logo {
    background-color: var(--main-color);
    padding: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header .logo-box .logo-text {
    font-size: 1.2rem;
}

.header nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header nav .navlinks {
    display: flex;
    gap: 25px;
}

.header nav .navlinks li a{
    color: black;
    font-weight: 500;
}

/* hero styles  */
#main {
    background-image: url('/images/shape2.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.wrapper {
    background-image: url('/images/shape1.png');
    background-repeat: no-repeat;
    background-position: top right;
}
.hero {
    display: flex;
    align-items: center;
    padding: 6rem 8rem;
    gap: 80px;
}

.hero .details-box .hero-title {
    font-size: 52px;
    margin-bottom: 24px;
}

.hero .details-box p {
    font-size: 18px;
    line-height: 1.55;
    margin-bottom: 34px;
}

.hero .details-box .info-box {
    margin-top: 8rem;
    display: flex;
    gap: 10px;
}

.hero .details-box .info-box .box {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.hero .details-box .info-box .box h3{
    font-size: 20px;
    margin-bottom: 8px;
}

.hero .details-box .info-box .box p {
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    color: #697484;
}

/* About styles */
.about-page {
    padding: 10px 8rem;
    background-image: url('/images/shape3.png');
    background-repeat: no-repeat;
    background-position: top left;
    margin-bottom: 80px;
}
.about-box {
    background-color: white;
    padding: 60px;
    display: flex;
    align-items: center;
    gap: 120px;
    box-shadow: 0 4px 8px 0 rgba(86, 86, 86, 0.084), 0 6px 20px 0 rgba(0, 0, 0, 0.042);
    border-radius: 15px;
    position: relative;
    top: 80px;
}

.about-box .img-box {
    background-color: #F0F1F3;
    border-radius: 10px;
}

.about-box .img-card .icon-box {
    padding: 10px;
    background-color: white;
    box-shadow: 0 12px 60px rgba(28, 25, 25, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: -40px;
    z-index: 20;
    border-radius: 5px;
    width: 280px;
    margin: 0 auto;
}

.about-box .img-card .icon-box i.fa-brands {
    font-size: 20px;
    color: var(--main-color);
    padding: 15px;
    border-radius: 5px;
}

.about-box .img-card .icon-box i.fa-brands:hover {
    background-color: var(--main-color);
    color: white;
    transition: all 0.3s linear;
}

.about-box .content-box .title {
    font-size: 34px;
    font-weight: 600;
}

.about-box .content-box p {
    font-size: 17px;
    line-height: 1.55;
    margin-bottom: 12px;
    text-align: justify;
}

.about-box .content-box .btn-box {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 32px;
}


